# virtual env & caches
MLProgram/venv/
**/__pycache__/
*.pyc

# datasets & artifacts
MLProgram/data/
MLProgram/data_images/
MLProgram/model/
*.npy
*.csv
*.zip
*.h5
*.keras

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
